Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.vscode
.idea
dist
dist-tsc
coverage
apps/web/.next
apps/web/node_modules
apps/web/out
apps/api/dist
apps/api/node_modules
apps/mobile/node_modules
apps/mobile/.expo
